.drillListSection {
    width: calc(100% - 60px);
    max-width: 1100px;
    margin: auto;
    margin-bottom: 300px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

.searchControls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 0;
}

/* .searchControls select, 
.searchControls input {
    
} */

.resultLimitInput {
    width: 60px;
}

.inlineImageButton {
    display: block;
    width: 25px;
    height: auto;
    cursor: pointer;
}

.inlineImageButtonContainer {
    margin: 0 10px;
    position: relative;
}

.inlineImageButtonLabel {
    display: block;
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translate(-50%, 0);

    width: max-content;

    font-size: 1rem;
    border: 1px solid var(--main-text-color);
    color: var(--main-text-color);
    background-color: #111111;
    padding: 0 4px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.inlineImageButtonContainer:hover .inlineImageButtonLabel {
    opacity: 1;
    pointer-events: auto;
}