.addDrillSection {
    width: calc(100% - 50px);
    max-width: 900px;
    margin: auto;
    /* margin-bottom: 500px; */
}

.controls {
    display: flex;
    gap: 10px;
}

.deleteButton {
    background-color: var(--danger-color);
    margin-left: auto;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    display: block;
    border-radius: 1000px;
    /* 16px --> 14px */
    font-size: 0.875rem;
    font-weight: 300;
    padding: 6px 13px;
    background-color: rgb(60, 60, 60);
    color: rgb(200, 200, 200);
}

.tagControlButton {
    display: block;
    font-size: 0.875rem;
    background-color: transparent;
    border: none;
    padding: 0px 3px;
    color: var(--shallow-text-color);
}