.addDrillSection {
    width: calc(100% - 50px);
    max-width: 900px;
    margin: auto;
    /* margin-bottom: 500px; */
}

.controls {
    display: flex;
    gap: 10px;
}

.deleteButton {
    background-color: var(--danger-color);
    margin-left: auto;
}